<div id="entrance_screen">
  <div id="entrance_comment">
    <p>
      当webサービスは定型文等、なんども入力するための文章等を簡単にコピペするサービスです。
      作業効率化のお役に経てればと思います。
    </p>
  </div>
  <div id="authentication">
    <%= link_to 'ユーザー登録', users_new_path, { id: :authentication_user } %>
    <%= link_to 'ログイン', authentication_management_login_path, { id: :authentication_login } %>
  </div>
  <div id="twitter_auth">
    <%= link_to 'Twitte認証', auth_twitter_path, { class: :twitter_button } %>
  </div>
</div>
