<div id="service_info">
  <div id="welcome_comment">
    <h1>welcome</h1>
    <p>当サービスを利用してくださってありがとうございます。</p>
  </div>
  <div id="the_purpose">
    <h1>目的</h1>
    <p>
      今の時代パソコンを使って作業することが増えてきています。
      プログラマから経理や営業、パソコンを使って仕事する人はたくさんいると思いますが、
      定型的な文章を打つ機会ってたくさんありませんか？
      例えば、コマンドプロンプトに打つコマンド、メールで使うよろしくお願いしますやありがとうございました。
      そういった定型的に決まっている文章を入力する機会ってたくさんあると思います。
      その都度、文章をタイピングして打つのは手間ですし、たくさんのコマンドをいちいち覚えてはいられません。
      分類別に定型文やコマンドを登録しておいて、ボタンをクリックして貼り付けるだけで、定型文やコマンドを打つことができる。
      そうすれば今の世の中でもっと効率的に作業することができると思い、当サービスを作りました。
    </p>

  </div>
  <div id="how_to_use">
    <p>
      主に以下の仕様となっています。
      <ul>
        <li>コマンドを登録しておくことで簡単にコピペ操作できる。</li>
        <li>登録したい内容を、カテゴリ別に分類できる。</li>
        <li>登録するファイルはyml形式のファイルからまとめて登録することができる。</li>
      </ul>
    </p>
    <h1>コマンド操作</h1>
    <p>
      登録したい定型文やコマンドを登録しておいて、あとは使いたいときにその登録しておいたコマンドをクリックするだけ。
      そうするとクリップボードに登録していた内容が反映（コピペできる状態）され、あとは任意の場所でペースト（貼り付ける）するだけです。
    </p>
    <h1>カテゴリ操作</h1>
    <p>
      カテゴリ別に分けておくことで、登録した内容をわかりやすくまとめることが可能です。
    </p>
    <h1>ymlファイルにてコマンド取り込み</h1>
    <p>
      yml形式のファイルで取り込むことで、１つ１つ登録する手間を省きます。

      yml形式のファイルとは以下の記述ルールで記載されたファイルのことを指します。

      形式：                       例
      カテゴリ名：                      rails_command :
		    登録したいコマンドの名前：           command_name:
			     -名前                           -“start”
        登録したいコマンドの内容            command_contents:
           -内容                           -"rails server start"
      	登録したい内容の説明（空白可能）     command_description:
      		 -説明                           -"
      例
      -
       category_name: rails_command
       command:
       -
        name: "rails start"
        contents: "rails server start"
        description: "railsサーバーを起動する時に使用するコマンド"
       -
        name: "rails stop"
        contents: "rails server stop"
        description: "railsサーバーを起動する時に使用するコマンド"
      -
       category_name: "メール定型文"
       command:
       -
        name: "あいさつ"
        contents: "今日もどうぞよろしくお願いします。"
        description: "挨拶する時に使用する定型文"
       -
        name: "お礼"
        contents: "今日はありがとうございました。今後ともよろしくお願いします。"
        description: "お礼の文章を入力する時に使用する定型文"
    </p>
  </div>
</div>
