<div class="edit_operation">

  <h1 class="operation_title">Edit Category</h1>

  <%= render 'form', category: @category %>

  <%= link_to 'Back', command_management_show_path, { class: :back_button } %>

</div>
