<div class="operation">

  <h1 class="operation_title">add Command</h1>

  <%= render 'form', command: @command %>

  <%= link_to 'Back', { controller: :command_management, action: :show }, { id: :back_button } %>

</div>
